html,


:root {
    /*шрифти*/
    --main-font: Roboto, san-serif;

    /*кольори*/
    /*кольори фону*/
    --main-light: #ffffff; /*основний фон обох сторінок*/
    --main-dark: #2F303A; /*фон футера*/
    --secondary-dark: #F5F4FA; /*фон секції команди та кнопок на аркуші з портфоліо*/
    
    /*кольори шрифтів*/
    --main-font-color: #212121; /*колір заголовків*/
    --secondary-font-color: #757575; /*колір абзаців*/
    --accent-color: #2196F3; /*кольор логотипу та головних кнопок*/
    --header-logo-font-color: #000; /*колір у логотипі хедера*/
    --footer-contacts-font: rgba(255, 255, 255, 0.6);
}


/*глобальні стилі*/
body {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    
}

/*вимикнення маркерів у списках*/
.list {
    list-style-type: none; 
    color: inherit;
}                     

/*вимкнення підкреслення у посиланнях*/

.link {
    text-decoration: none;
 }
 
/*
.main-menu {
    display: flex;
}

.nav-menu {
    display: flex;
}
*/

.logo-text {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-color);
    line-height: 1.19;


    /*height: 31px;
    width: 145px;
    margin: 24px 0 25px 215px;*/
}

.top-logo-text {
    color: var(--header-logo-font-color);
}

.footer-logo-text {
    color: var(--main-light);
}

.order-button {
    cursor: pointer;
    color:var(--main-light);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    margin: 0px auto 200px;
    align: center;
}

.filter-button {
    cursor: pointer;
    background-color: var(--secondary-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
}

.filter-button:hover {
    background-color: var(--accent-color);
    color: var(--main-light);
}

.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--main-light);
}

#Contacts {
    font-style: normal;
}

.menu-element {
    line-height: 1.14;
    
    /*
    margin-bottom:32px;
    margin-right: 50px;
    */
}

.menu-element:hover {
    color: var(--accent-color);
}

.menu-element:focus {
    color: var(--accent-color);
}

.contact-element {
    color: var(--secondary-font-color);
    line-height: 1.14;
}

.contact-element:hover {
    color: var(--accent-color);
}

.contact-element:focus {
    color: var(--accent-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    text-align: center;
    letter-spacing: 0.03em;
}

.main-section-header {
    color: var(--main-light);
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;

    letter-spacing: 0.06em;
    text-align: center;
    line-height: 1.36;

    margin: 0 auto 30px;
    width: 696px;
}

.offer-board {
    background-color: var(--main-dark);
}

.team {
    background-color: var(--secondary-dark);
}

.methods-description-name {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.methods-description-text {
    color: var(--secondary-font-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-member-position {
    color: var(--secondary-font-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-section {
    background-color: var(--main-dark);
}

.post-address {
    color: var(--main-light);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts-text {
    color: var(--footer-contacts-font);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.portfolio-card-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-card-description {
    color: var(--secondary-font-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/*
.main-nav {
    display: flex;
}

.filter-button+.filter-button {
    margin-left: 8px;
}

*/